<div class="card">
  <div class="card-header">
    <div class="card-title">
      <a href="/movie/id/{{imdbID}}">{{Title}}</a>
    </div>
    <div class="card-subtitle">
      {{Year}}
    </div>
  </div>
  <div class="card-body">
    <img src="{{Poster}}">
  </div>
  <div class="card-footer">
    <a href="#"></a>
  </div>
</div>