<div class="container">
  <div class="row">
    <div class="poster-container col-4">
      <div class="postercard-body">
        {{#if (isNotNA Poster)}}
        <img src="{{Poster}}">
        {{/if}}
      </div>
      <div class="poster-footer">
        <a href="#"></a>
      </div>
    </div>
    <div class="description-container col-8">
      <div class="row">
        <div class="card-header">
          <div class="card-title row row-col-2">
            <a href="/search/id/{{imdbID}}">{{Title}}</a>
            <form id="user-rating-form">
              <span class="user-rating">
                <input type="radio" name="rating" value="5"><span class="star"></span>

                <input type="radio" name="rating" value="4"><span class="star"></span>

                <input type="radio" name="rating" value="3"><span class="star"></span>

                <input type="radio" name="rating" value="2"><span class="star"></span>

                <input type="radio" name="rating" value="1"><span class="star"></span>
              </span>
            </form>
          </div>
          <div class="card-subtitle">
            {{Year}}
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia,
            voluptate! Animi voluptas consectetur inventore facilis quaerat
            porro possimus, deleniti, officia sit esse aspernatur! Quia ab ea
            maiores quis repellendus quos?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>