<div class="container">
  <div class="row">
    <div class="poster-container col-4">
      <div class="postercard-body">
        <img src="{{Poster}}">
      </div>
      <div class="poster-footer">
        <a href="#"></a>
      </div>
    </div>
    <div class="description-container col-8">
      <div class="row">
        <div class="card-header">
          <div class="card-title row row-col-2">
            <a href="/movie/{{imdbID}}">{{Title}}</a>
            <a href="##">****</a>
          </div>
          <div class="card-subtitle">
            {{Year}}
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, voluptate! Animi voluptas consectetur
            inventore facilis quaerat porro possimus, deleniti, officia sit esse aspernatur! Quia ab ea maiores quis
            repellendus quos?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>