{{!-- <div class="container">
  <h1></h1>
  <div class="row row-col-3">
    <div>
      <img src="/assets/images/phone.png" alt="Man holding remote control and pointing at TV screen">
    </div>
    <div>
      <img src="/assets/images/laptop.png" alt="Man holding remote control and pointing at TV screen">
    </div>
  </div>
</div> --}}

<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="/assets/images/movienight.png" alt="Man holding remote control and pointing at TV screen">
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/phone.png" alt="Man holding remote control and pointing at TV screen">
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/remote.png" alt="Man holding remote control and pointing at TV screen">
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/laptop.png" alt="Man holding remote control and pointing at TV screen">
    </div>
    ...
  </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>