<h1> Keep track of your favorite films!</h1>
<div class="swiper-container mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="/assets/images/movie.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/family.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/pulp.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/lionking.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/cool.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/endgame.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/shawshank.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/toy.jpeg" />
    </div>
    <div class="swiper-slide">
      <img src="/assets/images/future.jpeg" />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>