<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-dark bg-light my-2 my-sm-0 m-1" id="search-button"><a href="/search"></a>Search</button>

{{#each movie}}
{{> movie-card}}
{{/each}}

<script src="./js/search.js"></script>